* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
    padding: 40px 0 0 0;
    gap: 30px;
    
}

.tops {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    align-items: center;
}

.tops p {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.tops ul {
    display: flex;
    color: #e5e7eb;
    gap: 16px;
}

a {
    font-size: 18px;
    list-style: none;
    color: #e5e7eb;
    text-decoration: none;
}

.abouts {
    display: flex;
    margin: 0 15%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.abouts .left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.abouts p:first-of-type {
    font-size: 48px;
    display: flex;
    flex: 1;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    
}

.abouts p:last-of-type{
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 80%;
    margin: 2% 0 auto 0;
}

.abouts .right {
    display: flex;
    width: 600px;
    height: auto;
    align-items: center;
    justify-content: center;
    }

.left button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 200px;
    font-weight: 900;
    margin: 0 0 5% 0;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f9faf8;
    gap: 36px;
    padding-top: 36px;
}

.sri {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


.boxes {
    display: flex;
    justify-content: space-between;
    margin: 0 15% 5%;
}

.boxes img {
    border: 2px solid #3882F6;
    width: auto;
    height: auto;
    border-radius: 10px;
    gap: 16px;
}

.first, .second, .third, .fourth {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    max-width: 200px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    gap: 15px;
}

.boxes > * {
    margin: 0;
}

.quote > * {
    margin: 0;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10% 15% 10%;
    margin: 0%;
    gap: 20px;
}


.quote h1 {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote p {
    display: flex;
    color: #1F2937;
    font-weight: 700;
    font-size: 24px;
    justify-content: flex-end;
}


.footer {
    display: flex; 
    background-color: #3882F6;
    align-items: center; 
    justify-content: center; 
    margin: 5% auto; 
    border-radius: 10px; 
    width: 70%;
    padding: 5%;
    gap: 5%;
}

.footer .left {
    display: flex;
    flex-direction: column;
}

.footer p {
    font-size: 24px;
    font-weight: 500;
}

.footer button {
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.footest {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 auto;
    padding: 5%;
    width: 100%;
}
